<div>
	<section
		class="cover-container d-flex w-100 h-10  mx-auto flex-column sticky-top"
	>
		<header>
			<div class="nav-cover">
				<a class="nav-link float-md-left" href="/">Evi Edor</a>
				<div class="dropdown show float-md-right mt-2">
					<a
						class="btn btn-secondary dropdown-toggle"
						href="#"
						role="button"
						id="dropdownMenuLink"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						quick links
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item active" href="/">Home</a>
						<a class="dropdown-item" href="/myprojects">Personal Projects</a>
						<a class="dropdown-item" href="/about">About</a>
						<a class="dropdown-item" href="/contactme">Contact</a>
					</div>
				</div>

				<nav class="float-md-right navibar" id="navbarNavAltMarkup">
					<a class="nav-link" href="/">Home</a>
					<a class="nav-link" href="/myprojects">Personal Projects</a>
					<a class="nav-link" href="/about">About</a>
					<a class="nav-link" href="/contactme">Contact</a>
				</nav>
			</div>
		</header>
	</section>
</div>
