<% layout('layouts/boilerplate')%>

<header class="headline border rounded p-5 " style="background-color: aqua"></header>
<div class="container profile-cover">
  
	<div class="profile-block " style="background-color: white">
		<div class="moi-img pl-5 pr-5 pb-5 pt-5 w-100">
			<img
				class="object-fit-cover border rounded"
				src="https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
				alt="my image"
				style="background-color: aqua"
			/>
		</div>

		<div class="w-50 text-black-50 text-left pl-5 pr-5 pb-5 pt-5">
			<h2>EVI EDOR</h2>
			<h6>
				<strong>
          QC Technician, Web Developer, Soccer Player in Canada
        </strong> 
			</h6>

			<a class="button is-primary is-responsive" href="/myprojects"
				>View my projects</a
			>

			<p>
				Quality Control Technician by day, Web developer, Soccer player by night. Evi is an
				ambitious young resident in Canada who enjoys the challenges of problem
				resolution. The resolution comes through applying skills and knowledge
				acquired during his study of the Mechanical Engineering program at
				Sudbury's esteemed Laurentian University. His desire to expand these skills and knowledge
				has led him to computer programming where he is currently developing
				more understanding. <br />When Evi isn't tasked with resolving problems
				on his computer, you might find him resolving problems on the soccer
				pitch.
			</p>
		</div>
	</div>
</div>
