<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Evi Edor</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
			integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/home.css" />
	</head>

	<body>
		<div class="outer">
			<main>
				<section class="leads d-flex w-100 h-10 p-2 mx-auto flex-column">
					<header>
						<div class="nav-cover sticky-top">
							<a class="nav-link float-md-left" href="/">Evi Edor</a>
							<div class="dropdown show float-md-right mt-2">
								<a
									class="btn btn-secondary dropdown-toggle"
									href="#"
									role="button"
									id="dropdownMenuLink"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									quick links
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item active" href="/">Home</a>
									<a class="dropdown-item" href="/myprojects"
										>Personal Projects</a
									>
									<a class="dropdown-item" href="/about">About</a>
									<a class="dropdown-item" href="/contactme">Contact</a>
								</div>
							</div>

							<nav class="float-md-right navibar" id="navbarNavAltMarkup">
								<a class="nav-link active" href="/">Home</a>
								<a class="nav-link" href="/myprojects">Personal Projects</a>
								<a class="nav-link" href="/about">About</a>
								<a class="nav-link" href="/contactme">Contact</a>
							</nav>
						</div>
					</header>

					<div class="leads-content">
						<div class="jumbotron text-white-50">
							<h1 class="display-8">
								Hi, I am Evi <br />
								From Canada
							</h1>

							<p>
								I am a self-motivated individual, who knows that knowledge
								<br />is of the utmost importance. I am a Computer and Software
								<br />
								programmer-in-training who is eager to get a hands-on experience
								<br />
								into the world of Data Science, Information technology.
							</p>

							<a
								href="/myprojects"
								class="btn btn-small btn-alert font-weight-bold border-dark bg-white"
								>Personal Projects</a
							>
							<a
								href="/contactme"
								class="btn btn-small btn-alert font-weight-bold border-dark bg-white"
								>Contact Me</a
							>
						</div>
					</div>
				</section>

				<section
					class="follows d-flex p-5 mx-auto flex-column text-white-50 text-center bg-dark"
				>
					<footer>
						<div class="follows-content">
							<h5>My Expertise</h5>
							<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
							<span>&copy; WEB DESIGN</span>
							<span>&copy; WEB DEVELOPMENT</span>
							<span>&copy; PHOTOGRAPHY</span>
						</div>
					</footer>
				</section>
			</main>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
			integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
			crossorigin="anonymous"
		></script>
	</body>
</html>
